@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header .logo {
        flex-direction: row;
        align-items: start;
    }

    header nav .navbar {
        flex-direction: column;
    }

    header .hlog {
        display: flex;
    }
    
}