@font-face {
    font-family: neue-haas-unica;
    src: url("../font/NeueHaasUnica-Regular.ttf");
}
header {
    border-color: #fa0000;
}

header .logo {
    width: 60px;
}

header .title .red {
    margin-left: 10px;
    color: #fa0000;
}

header .hlog .login {
    color: #111927;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background: #fa0000;
    border: 5px;
    box-shadow: 3px 3px 4px 2px #531313;
    text-decoration: none;
}