@font-face {
    font-family: neue-haas-unica;
    src: url("../font/NeueHaasUnica-Regular.ttf");
}

header {
    border-color: #4f7b93;
}

header .logo {
    width: 60px;
}

header .title .blue {
    margin-left: 10px;
    color: #4f7b93;
}

header .hlog .login {
    color: #111927;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background: #4f7b93;
    border: 5px;
    box-shadow: 3px 3px 4px 2px #133446;
    text-decoration: none;
}